.bundle
vendor/bundle
bin
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
spec/reports/
config/database.yml
public/uploads
.idea
config/settings/local.yml
.DS_Store
/nbproject/private/
nbproject/
.rvmrc
public/cache
salesworker.sublime-project
