/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
form .failed{
  border: 1px solid #f00;
}

.hidden {
  display: none;
}

#main{
  margin-top: 80px;
}

.reg {
  margin: 3% 0 0 30% !important;
  position: absolute;
  top: 0;

  ul {
    margin-bottom: 0;

    li{ line-height: 30px!important; }
    img {
      height: 25px;
      margin-left: 5px;
    }
  }
}

