= f.input :"#{car}", as: :select, collection: collection, include_blank: false
:javascript
  $('#vehicle_#{car}').on('change', function(){
    select = $(this)
    resource_name = select.attr('id').substring(8)
    id = select.val()
    $.getScript('/cars/' + resource_name + '/' + id)
  });
