<p><%= t('email.welcome', who: @resource.email) %></p>

<p><%= t('devise.confirmarions.confirm_by_link_below') %></p>

<p><%= link_to t('devise.confirmations.confirm_my_account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
