.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %a.brand(href="#{root_path}") Bortovik
      .container.nav-collapse
        %ul.nav.pull-right
          / - User::CURRENCIES.each do |currency|
          /   %li
          /     - if currency == Money.default_currency.to_s
          /       = currency
          /     - else
          /       = link_to currency, url_for(:currency=> currency)
          %li= link_to_profile(current_user) if user_signed_in?
          = render 'devise/menu/login_items'
